<h1>Searches#index</h1>
<p>Find me in app/views/searches/index.html.erb</p>


<div id="result_list">
<table>
  <% @results.each do |result| %>
  <tr>
    <td><%= result[:store] %> - <%= result[:name] %> - <%= result[:price] %></td>
  <%end%>

  <% @walresults.each do |walresult| %>
  <tr>
    <td><%= walresult[:store] %> - <%= walresult[:name] %> -
    </td>
  <%end%>

</table>
</div>

