
<h1>The Best Groceries In Your Local Area</h1>



<div id="result_list">
<table>
  <% @results.each do |result| %>
  <tr>
    <td><%= result[:store] %> - <%= image_tag result[:pic] %> - <%= result[:name] %> - <%= result[:price] %></td>
  <%end%>

  <% @walresults.each do |walresult| %>
  <tr>
    <td><%= walresult[:store] %> - <%= walresult[:name] %> - <%= walresult[:price] %>
    </td>
  <%end%>

</table>
</div>

